{% extends 'base.html' %}

{% block title %}News Entries{% endblock %}

{% block header %}News Entries{% endblock %}
{% block content %}
    <div class="row">
        {% for pst in posts %}
            <div class="col-md-9">
                <h4>
                    <a href="{{ url_for('get_post',id=pst.id) }}">{{ pst.title }}</a>
                </h4>
            </div>
            <p>Created on: {{ pst.timestamp.strftime('%d/%m/%Y %H:%M:%S') }}</p>
            <hr>
        {% else %}
            <h3>No posts available!</h3>
        {% endfor %}
    </div>
{% endblock %}