{% extends 'base.html' %}

{% block title %}News Posts{% endblock %}

{% block header %}News Posts{% endblock %}
{% block content %}

    <div class="input-group mb-3">
        <select class="form-control" name="sort_name" id="sort_name">
            <option value="">Filter By</option>
            <option value="1">Created Time(Asc)</option>
            <option value="2">Created Time(Desc)</option>
            <option value="3">Popularity</option>
        </select>
    </div>
    <div class="row">
        {% for post in posts %}
            <table class="table">
                <tr class="d-flex">
                    <td class="col-sm-12">
                        <h4><a href="{{ url_for('get_post',id=post.id) }}" title="Preview Post">{{ post.title }}</a></h4>
                        <i>{{ post.body[:30]+"..." }}</i><br>
                        <small>Created on: {{ post.timestamp.strftime('%d/%m/%Y %H:%M:%S') }} by {{ post.author.username }}</small>
                        <br>
                        <i>
                        {% if current_user.is_authenticated %}
                            <form class="like_form" method="post">
                                <input type="hidden" value="{{ post.id }}" name="id">
                                <button class="btn btn-flat btn-link" type="submit" id="like_{{ post.id }}">
                                    {% if current_user.has_liked_post(post) %}
                                        Unlike
                                    {% else %}
                                        Like
                                    {% endif %}
                                </button>
                                # <span id="like_count_{{ post.id }}">{{ post.likes.count()}}</span> likes
                                # <span>{{ post.comments.count()}}</span> comments

                            </form>
                        {% else %}
                            Login to comment and like!
                        {% endif %}
                        </i>
                    </td>
                </tr>
            </table>
        {% else %}
            <h3>No posts available!</h3>
        {% endfor %}
        <div class="container ">
            <div class="row">
                <div class="col"></div>
                <div class="col">{{ pagination.links }}</div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".like_form").submit(function(e){
                e.preventDefault();
                var data = $(this).serializeArray().reduce(function(obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '/post/'+data.id+'/like/',
                    data:$(this).serialize(),
                    success: function (result) {
                        $("#like_count_"+data.id).text(result['count']);
                        $("#like_"+data.id).text(result['next']);
                    }
                });
            });
            $("#sort_name").change(function(){
                console.log($(this).val());
                window.location = '/?sort_by='+$(this).val();
            });
        });
    </script>
{% endblock %}