{% extends 'base.html' %}

{#{% block header %}#}
{#    <h1>{% block title %}Log In{% endblock %}</h1>#}
{#{% endblock %}#}

{% block content %}
    <div class="col-md-12">
                <h4>Blog 1</h4>
                <p>No man has a good enough memory to be a successful liar - Abraham Lincoln</p>

                <h4>Blog 2</h4>
                <p>A successful man is one who makes more money than his wife can spend. A successful woman is one who can find such a man.</p>

                <h4>Blog 3</h4>
                <p>I can resist everything except temptation.</p>
            </div>
{% endblock %}